@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --fuente: "Poppins", sans-serif;
    --light-grey: hsl(0, 0%, 86%);
    --color-principal:hsl(0, 0%, 94%);
    --color-bloque: hsl(0, 0%, 100%);
    --smokey-gray: hsl(0, 1%, 44%);
    --off-black: hsl(0, 0%, 8%);
    --purple: hsl(259, 100%, 65%);
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--color-principal);
}

main {
    padding: 2.5rem;
    background-color: var(--color-bloque);
    border-radius: 30px 30px 100px 30px;
}

.articulo_contenido {

}

.grid--container {
    display: flex;
    font-family: var(--fuente);
    gap: 1.25rem;
    margin-right: 7rem;
}

h4 {
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.grid--item {
    color: var(--smokey-gray);
}

input {
    font-family: var(--fuente);
    font-weight: 700;
    font-size: 1.25rem;
    border: solid 1.5px var(--light-grey);
    border-radius: 10px;
    padding: 0.50rem;
    width: 6rem;
}

input::placeholder {
    font-weight: 800;
    padding: 0.5rem;
}

input:hover, input:focus {
    border: 1.5px solid var(--purple);
    cursor: pointer;
}

.linea-imagen {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

hr {
    width: 100%;
    color: var(--light-grey);
}

.icon {
    padding: 18px;
    background-color: var(--purple);
    border-radius: 50%;
    width: 70px;
    height: 70px;
}

.icon:hover {
    background-color: var(--off-black);
}

.contenido-a-mostrar {
    font-family: var(--fuente);
    font-weight: 800;
    font-size: 3.75rem; 
}

.estilo_de_linea {
    color: var(--purple);
}

p {
    line-height: 1.1;
}

@media(max-width: 570px) {
    main {
        padding: 1.75rem;
            min-width: 320px;
    }

    .grid--container {
        margin-right: 0;
        display: flex;
        font-family: var(--fuente);
        gap: 1rem;
    }

    h4 {
        font-size: 12px;
        font-weight: 700;
        margin-bottom: 0.8rem;
    }

    input {
        font-family: var(--fuente);
        font-weight: 700;
        font-size: 1rem;
        border: solid 1.5px var(--light-grey);
        border-radius: 10px;
        padding: 0.25rem;
        width: 4.5rem;
    }

    .linea-imagen {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 3.5rem 0;
    }

    .icon {
        right: 50;
        position: absolute;
    }

    .contenido-a-mostrar {
        font-family: var(--fuente);
        font-weight: 800;
        font-size: 3rem; 
    }
    
}


