@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root {
    --fuente: "Poppins", sans-serif;
    --light-grey: hsl(0, 0%, 86%);
    --color-principal:hsl(0, 0%, 94%);
    --color-bloque: hsl(0, 0%, 100%);
    --smokey-gray: hsl(0, 1%, 44%);
    --Purple: hsl(259, 100%, 65%);
}

body {
    height: 100vh;
    box-sizing: border-box;
    background-color: var(--color-principal);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97%;
}

.articulo_contenido {
    padding: 4rem;
    background-color: var(--color-bloque);
    /* height: 70%; */
    width: 50%;
    border-radius: 30px 30px 230px 30px;
}

.grid_container {
    display: grid;
    grid-template-columns: auto auto auto;
    font-family: var(--fuente);
    margin-right: 7rem;
    margin-bottom: 3rem;
}

h4 {
    font-weight: 700;
    margin-bottom: 0.8rem;
}

.grid_item {
    width: 10rem;
    color: var(--smokey-gray);
}

input {

    font-size: 35px;
    border: solid 1.5px var(--light-grey);
    border-radius: 10px;
    padding: 1.2rem;
    width: 9rem;
}

input::placeholder {
    font-weight: 800;
    padding: 0.5rem;
}

hr {
    width: 86%;
}

img {
    float: right;
}

.contenido_a_mostrar {
    font-family: var(--fuente);
    font-weight: 800;
    font-size: 100px;
    margin-top: 3rem;
}

.estilo_de_linea {
    color: var(--Purple);
}

p {
    line-height: 1.1;
}



